{
    "requireConfig": true,
    "enable": true,
    "printWidth": 999,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true
}
