.Homepage {
    width: 100%;
    height: 100vh;
    color: var(--text-p);
    background-color: var(--background-p);
    font-size: 1rem;
    font-family: var(--font);
}

.Navbar {
    background-color: var(--background-p);
    opacity: 0.99;
    position: fixed;
    width: 100%;
    height: 64px;
}

.NavContent {
    display: flex;
    width: 100%;
    height: 64px;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-between;
    align-items: center;
}

.ProjectName p {
    font-size: 1.4rem;
    margin: 0;
}

.NavLink {
    margin-right: 65px;
}

.LastNavLink {
    margin-right: none;
}

.MainBody {
    padding-top: 64px;
}

.ProjectInfo {
    text-align: center;
}

.ProjectInfo h2 {
    font-size: 4.75rem;
    line-height: 75px;
    font-weight: 600;
    margin-top: 7%;
}

.ProjectInfo h4 {
    color: var(--text-s);
    font-size: 1.3rem;
    line-height: 30px;
    margin-top: 2%;
}
